.day-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	padding: var(--space-md) var(--space-sm);
	background: var(--black-3);
}

.day-card__day {
	margin: 0 0 var(--space-sm) 0;
}

.day-card__temperature-image {
	width: 60px;
	height: 60px;
	margin: 0 auto 35px auto;
}

.day-card__temperature-image > img {
	width: 100%;
}

.day-card__temperature-minmax {
	display: flex;
	justify-content: space-around;
}

.day-card__temperature-minmax > span:last-child {
	color: var(--gray-5);
}