.search-list-item {
	list-style: none;
	padding: 16px var(--space-xs);
	width: 100%;
	position: relative;
	cursor: pointer;
}

.search-list-item:hover {
	border: 1px solid var(--gray-1);
}

.search-list-item:hover::after {
	content: "";
	position: absolute;
	top: 20px;
	right: calc(var(--space-xs) + 5px);
	width: 10px;
	height: 10px;
	border-top: 2px solid var(--gray-1);
	border-right: 2px solid var(--gray-1);
	border-radius: 1px;
	transform: rotate(45deg);
}